.banner{
/*  size: */
  width:100%;
  height: 700px;
  /*orientation*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*styling*/
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
/*  padding: 200px 0;
  margin: auto;
  display: block;*/
}

.banner h1{
  display: block;
  color: white;
  font-size: 2em;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  align-content: center;
  justify-content: center;
}

.banner p{
  display: block;
  color: white;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: .6
  font-size: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}
